PORT_API=3002
NODE_ENV=development

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
JWT_SECRET=
JWT_REFRESH_SECRET=

DB_PATH=./data/whasender.db
FILES_PATH=./data/arquivos
SESSIONS_PATH=./data/sessions
SESSION_PATH=./bot/src/session

PREFIXO_GERACAO=87
TOTAL_PARTES=106
LEADS_POR_PARTE=25000
